.sugestedScreen {
  padding: 25px; 
}
.imgStyle{
  width: 20px;
}
.headingStyle{
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #707070;
}

@media only screen and (max-width: 780px) {
  .imgStyle{
    width: 15px;
  }
  .headingStyle{
    font-size: 12px;
  }
}

@media only screen and (max-width: 1080px) {
  .imgStyle{
    width: 15px;
  }
  .headingStyle{
    font-size: 16px;
  }
}
@media only screen and (max-width: 575px) {
  .sugestedScreen {
    display: none;
  }
}
