@import "../../css/main.scss";
@import "../../mobileReuseable/blueheader/header.module.scss";

%data-shared {
  position: relative;
  display: flex;
  height: 120px;
  border-bottom: 2px solid $border-bottom-color;
  border-bottom-left-radius: 60px;
  text-align: left;
  .Avatar {
    position: absolute;
    left: 50px;
    bottom: 10px;
    height: 65px;
    width: 65px;
  }
  .ActivityNormal {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 150px;
    bottom: 2px;
  }
}

%data-handler {
  width: 611px;
  .ActivitiesHandler {
    @extend %data-shared;
    background-color: white;
    .ActivityNormal {
      span:nth-child(1) {
        @include fontfamily("Montserrat", 22px, #241332, 600);
      }
      span:nth-child(2),
      span:nth-child(3) {
        @include fontfamily("Montserrat", 16px, #998fa2, 600);
      }
    }
  }
  .ActivityMentioned {
    height: 165px;
    z-index: -1;
    margin-top: -50px;
    @extend %data-shared;
    background-color: #8ff2ca;
    .ActivityNormal {
      span:nth-child(1) {
        @include fontfamily("Montserrat", 22px, white, bold);
      }
      span:nth-child(2),
      span:nth-child(3) {
        @include fontfamily("Montserrat", 16px, white, 600);
      }
    }
  }
}
.container {
  margin: 0 auto;
  @extend %data-handler;
  .MenuDisable {
    display: none;
  }
}

.dualcontainer {
  padding: 0 3rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  .Activities,
  .MenuEnable {
    width: 45%;
  }
  .MenuEnable {
    .MenuHandler {
      background-color: #2bc2d3;
      height: min-content;
      display: flex;
      flex-direction: column;

      .MobileView {
        position: relative;
        .ChatHandler {
          position: absolute;
          display: none;
          z-index: -1;
        }
        .Menus {
          width: 100%;
          background-color: #2bc2d3;
          position: absolute;
          border-bottom-left-radius: 40px;
          top: 0;
        }
      }
      .MenuItem {
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        div:nth-child(2) {
          text-align: left;
          width: 120px;
          @include fontfamily("Montserrat", 20px, white, bold);
        }
        img{
          width: 30px;
          height: 30px;
        }
      }
      .mobileHeader {
        border-radius: 0;
        border-bottom: 1px solid $border-bottom-color;
      }
    }
  }
  @extend %data-handler;
}
@media only screen and (max-width: 1060px) {
  .dualcontainer {
    padding: 0rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .Activities,
    .MenuEnable {
      width: 45%;
    }
    .MenuHandler {
      background-color: #2bc2d3;
      .MenuEnable {
        .mobileHeader {
          border-radius: 0;
          border-bottom: 2px solid $border-bottom-color;
        }
      }
    }
    @extend %data-handler;
    .ActivitiesHandler {
      background-color: white;
      height: 80px;
      border-bottom: 2px solid $border-bottom-color;
      border-bottom-left-radius: 60px;
      text-align: left;
      .Avatar {
        position: absolute;
        left: 50px;
        bottom: 20px;
        height: 40px;
        width: 40px;
      }
      .ActivityNormal {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 120px;
        bottom: 2px;
        span:nth-child(1) {
          @include fontfamily("Montserrat", 14px, #241332, 600);
        }
        span:nth-child(2),
        span:nth-child(3) {
          @include fontfamily("Montserrat", 12px, #998fa2, 600);
        }
      }
    }
    .ActivityMentioned {
      height: 130px;
      z-index: -1;
      margin-top: -50px;
      background-color: #8ff2ca;
      border-bottom: 2px solid $border-bottom-color;
      border-bottom-left-radius: 60px;
      text-align: left;
      .Avatar {
        position: absolute;
        left: 50px;
        bottom: 20px;
        height: 40px;
        width: 40px;
      }
      .ActivityNormal {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 120px;
        bottom: 2px;
        span:nth-child(1) {
          @include fontfamily("Montserrat", 14px, white, bold);
        }
        span:nth-child(2),
        span:nth-child(3) {
          @include fontfamily("Montserrat", 12px, white, 600);
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .dualcontainer {
    justify-content: center;
    margin: 0;
    width: 100%;
    .ActivitiesHandler {
      background-color: white;
      height: 80px;
      border-bottom: 2px solid $border-bottom-color;
      border-bottom-left-radius: 60px;
      text-align: left;
      .Avatar {
        position: absolute;
        left: 50px;
        bottom: 20px;
        height: 40px;
        width: 40px;
      }
      .ActivityNormal {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 110px;
        bottom: 10px;
        span:nth-child(1) {
          @include fontfamily("Montserrat", 12px, #241332, 600);
        }
        span:nth-child(2),
        span:nth-child(3) {
          @include fontfamily("Montserrat", 10px, #998fa2, 600);
        }
      }
    }
    .ActivityMentioned {
      height: 130px;
      z-index: -1;
      margin-top: -50px;
      background-color: #8ff2ca;
      border-bottom: 2px solid $border-bottom-color;
      border-bottom-left-radius: 60px;
      text-align: left;
      .Avatar {
        position: absolute;
        left: 50px;
        bottom: 20px;
        height: 40px;
        width: 40px;
      }
      .ActivityNormal {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 110px;
        bottom: 10px;
        span:nth-child(1) {
          @include fontfamily("Montserrat", 12px, white, bold);
        }
        span:nth-child(2),
        span:nth-child(3) {
          @include fontfamily("Montserrat", 10px, white, 600);
        }
      }
    }
  }
  .container {
    margin: 0;
    width: 100%;
    .ActivitiesHandler {
      background-color: white;
      height: 80px;
      border-bottom: 2px solid $border-bottom-color;
      border-bottom-left-radius: 60px;
      text-align: left;
      .Avatar {
        position: absolute;
        left: 50px;
        bottom: 20px;
        height: 40px;
        width: 40px;
      }
      .ActivityNormal {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 120px;
        bottom: 2px;
        span:nth-child(1) {
          @include fontfamily("Montserrat", 14px, #241332, 600);
        }
        span:nth-child(2),
        span:nth-child(3) {
          @include fontfamily("Montserrat", 12px, #998fa2, 600);
        }
      }
    }
    .ActivityMentioned {
      height: 130px;
      z-index: -1;
      margin-top: -50px;
      background-color: #8ff2ca;
      border-bottom: 2px solid $border-bottom-color;
      border-bottom-left-radius: 60px;
      text-align: left;
      .Avatar {
        position: absolute;
        left: 50px;
        bottom: 20px;
        height: 40px;
        width: 40px;
      }
      .ActivityNormal {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 120px;
        bottom: 2px;
        span:nth-child(1) {
          @include fontfamily("Montserrat", 14px, white, bold);
        }
        span:nth-child(2),
        span:nth-child(3) {
          @include fontfamily("Montserrat", 12px, white, 600);
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .dualcontainer {
    justify-content: center;
    margin: 0;
    width: 100%;
    .ActivitiesHandler {
      background-color: white;
      height: 80px;
      border-bottom: 2px solid $border-bottom-color;
      border-bottom-left-radius: 60px;
      text-align: left;
      .Avatar {
        position: absolute;
        left: 50px;
        bottom: 20px;
        height: 40px;
        width: 40px;
      }
      .ActivityNormal {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 110px;
        bottom: 10px;
        span:nth-child(1) {
          @include fontfamily("Montserrat", 12px, #241332, 600);
        }
        span:nth-child(2),
        span:nth-child(3) {
          @include fontfamily("Montserrat", 10px, #998fa2, 600);
        }
      }
    }
    .ActivityMentioned {
      height: 130px;
      z-index: -1;
      margin-top: -50px;
      background-color: #8ff2ca;
      border-bottom: 2px solid $border-bottom-color;
      border-bottom-left-radius: 60px;
      text-align: left;
      .Avatar {
        position: absolute;
        left: 50px;
        bottom: 20px;
        height: 40px;
        width: 40px;
      }
      .ActivityNormal {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 110px;
        bottom: 10px;
        span:nth-child(1) {
          @include fontfamily("Montserrat", 12px, white, bold);
        }
        span:nth-child(2),
        span:nth-child(3) {
          @include fontfamily("Montserrat", 10px, white, 600);
        }
      }
    }
  }
  .container {
    margin: 0;
    width: 100%;
    .ActivitiesHandler {
      background-color: white;
      height: 80px;
      border-bottom: 2px solid $border-bottom-color;
      border-bottom-left-radius: 60px;
      text-align: left;
      .Avatar {
        position: absolute;
        left: 50px;
        bottom: 20px;
        height: 40px;
        width: 40px;
      }
      .ActivityNormal {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 110px;
        bottom: 10px;
        span:nth-child(1) {
          @include fontfamily("Montserrat", 12px, #241332, 600);
        }
        span:nth-child(2),
        span:nth-child(3) {
          @include fontfamily("Montserrat", 10px, #998fa2, 600);
        }
      }
    }
    .ActivityMentioned {
      height: 130px;
      z-index: -1;
      margin-top: -50px;
      background-color: #8ff2ca;
      border-bottom: 2px solid $border-bottom-color;
      border-bottom-left-radius: 60px;
      text-align: left;
      .Avatar {
        position: absolute;
        left: 50px;
        bottom: 20px;
        height: 40px;
        width: 40px;
      }
      .ActivityNormal {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 110px;
        bottom: 10px;
        span:nth-child(1) {
          @include fontfamily("Montserrat", 14px, white, bold);
        }
        span:nth-child(2),
        span:nth-child(3) {
          @include fontfamily("Montserrat", 12px, white, 600);
        }
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  .dualcontainer {
    padding: 0rem;
    margin: 0;
    display: block;
    // justify-content: space-between;
    width: 100%;
    .Activities {
      display: none;
    }
    .MenuEnable {
      width: 100%;
    }
    .MenuEnable {
      .MenuHandler {
        background-color: #2bc2d3;
        height: min-content;
        display: flex;
        flex-direction: column;

        .MobileView {
          position: relative;
          .ChatHandler {
            position: absolute;
            width: 100%;
            top: 0;
            display: block;
            z-index: -1;
          }
          .Menus {
            width: 100%;
            background-color: #2bc2d3;
            position: absolute;
            border-bottom-left-radius: 40px;
            top: 0;
          }
        }
        .MenuItem {
          padding: 0.5rem 2.5rem;
          display: flex;
          justify-content: space-between;
          img:nth-child(1) {
            width: 30px;
            height: 30px;
          }
          div:nth-child(2) {
            text-align: left;
            width: 120px;
            @include fontfamily("Montserrat", 16px, white, bold);
          }
        }
        .mobileHeader {
          border-radius: 0;
          border-bottom: 1px solid $border-bottom-color;
        }
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .dualcontainer {
    padding: 0rem;
    margin: 0;
    display: block;
    // justify-content: space-between;
    width: 100%;
    .Activities {
      display: none;
    }
    .MenuEnable {
      width: 100%;
    }
    .MenuEnable {
      .MenuHandler {
        background-color: #2bc2d3;
        height: min-content;
        display: flex;
        flex-direction: column;

        .MobileView {
          position: relative;
          .ChatHandler {
            position: absolute;
            width: 100%;
            top: 0;
            display: block;
            z-index: -1;
          }
          .Menus {
            width: 100%;
            background-color: #2bc2d3;
            position: absolute;
            border-bottom-left-radius: 40px;
            top: 0;
          }
        }
        .MenuItem {
          padding: 0.5rem 1rem;
          display: flex;
          justify-content: space-between;
          img:nth-child(1) {
            width: 30px;
            height: 30px;
          }
          div:nth-child(2) {
            text-align: left;
            width: 120px;
            @include fontfamily("Montserrat", 14px, white, bold);
          }
        }
        .mobileHeader {
          border-radius: 0;
          border-bottom: 1px solid $border-bottom-color;
        }
      }
    }
  }
  .container {
    margin: 0;
    width: 100%;
    .ActivitiesHandler {
      background-color: white;
      height: 80px;
      border-bottom: 2px solid $border-bottom-color;
      border-bottom-left-radius: 60px;
      text-align: left;
      .Avatar {
        position: absolute;
        left: 50px;
        bottom: 20px;
        height: 40px;
        width: 40px;
      }
      .ActivityNormal {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 110px;
        bottom: 10px;
        span:nth-child(1) {
          @include fontfamily("Montserrat", 12px, #241332, 600);
        }
        span:nth-child(2),
        span:nth-child(3) {
          @include fontfamily("Montserrat", 10px, #998fa2, 600);
        }
      }
    }
    .ActivityMentioned {
      height: 130px;
      z-index: -1;
      margin-top: -50px;
      background-color: #8ff2ca;
      border-bottom: 2px solid $border-bottom-color;
      border-bottom-left-radius: 60px;
      text-align: left;
      .Avatar {
        position: absolute;
        left: 50px;
        bottom: 20px;
        height: 40px;
        width: 40px;
      }
      .ActivityNormal {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 110px;
        bottom: 10px;
        span:nth-child(1) {
          @include fontfamily("Montserrat", 12px, white, bold);
        }
        span:nth-child(2),
        span:nth-child(3) {
          @include fontfamily("Montserrat", 10px, white, 600);
        }
      }
    }
  }
}
