.statusStyle {
  background-color: #8df5cb!important;
  height: 138px;
  padding: 10px 30px!important;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  /* justify-content: left; */
  cursor: pointer;
  /* overflow-x: scroll; */
}

/* ::-webkit-scrollbar {
  width: 0px;
  height: 0;
  background: transparent; 
} */

.statusSlider{
  display: flex!important;
  align-items: center;
  justify-content: left;
}
.uploadbtnwrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.uploadbtnwrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.userStatus {
  position: relative;
  box-sizing: border-box;  
}

.ImageButton {
  content: "";
  position: absolute;
  top: 70px;
  left: 70px;
  width: 34px;
  height: 34px;
  background-color: #2bc2d3;
  border-radius: 100%;
}

.ImageStatus {
  margin-left: 10px;
  width: 101px;
  height: 101px;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
  justify-content: center;
  border-radius: 100%;
  border: 2px solid white;
}

@media only screen and (max-width: 1280px) {
  .statusStyle {
    height: 90px;
    padding: 10px 15px;
  }
  .ImageStatus {
    width: 70px;
    height: 70px;
  }
  .ImageButton {
    content: "";
    position: absolute;
    top: 40px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-color: #2bc2d3;
    border-radius: 100%;
  }
  .PlusImageStyle {
    width: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .statusStyle {
    height: 90px;
    padding: 10px 15px;
  }
  .ImageStatus {
    width: 50px;
    height: 50px;
  }
  .ImageButton {
    content: "";
    position: absolute;
    top: 30px;
    left: 40px;
    width: 20px;
    height: 20px;
    background-color: #2bc2d3;
    border-radius: 100%;
  }
  .PlusImageStyle {
    width: 10px;
  }
}

@media only screen and (max-width: 590px) {
  .statusStyle {
    height: 100px;
    padding: 10px 15px;
    border-bottom-left-radius: 60px;
  }
  .ImageStatus {
    width: 70px;
    height: 70px;
  }
  .ImageButton {
    content: "";
    position: absolute;
    top: 40px;
    left: 65px;
    width: 20px;
    height: 20px;
    background-color: #2bc2d3;
    border-radius: 100%;
  }
}

@media only screen and (max-width: 520px) {
  .ImageStatus {
    width: 50px;
    height: 50px;
  }
  .ImageButton {
    content: "";
    position: absolute;
    top: 30px;
    left: 40px;
    width: 20px;
    height: 20px;
    background-color: #2bc2d3;
    border-radius: 100%;
  }
  .PlusImageStyle {
    /* margin-top:-12px; */
    width: 12px;
  }
}

@media only screen and (max-width: 350px) {
  .statusStyle {
    height: 70px;
    padding: 10px 15px;
    border-bottom-left-radius: 60px;
  }
  .ImageStatus {
    width: 42px;
    height: 42px;
  }
  .ImageButton {
    content: "";
    position: absolute;
    top: 20px;
    left: 40px;
    width: 20px;
    height: 20px;
    background-color: #2bc2d3;
    border-radius: 100%;
  }
  .PlusImageStyle {
    width: 12px;
  }
}

@media only screen and (max-width: 300px) {
  .statusStyle {
    height: 100px;
    padding: 10px 10px;
    border-bottom-left-radius: 60px;
  }
  .ImageStatus {
    width: 38px;
    height: 38px;
  }
  .ImageButton {
    content: "";
    position: absolute;
    top: 20px;
    left: 25px;
    width: 18px;
    height: 18px;
    background-color: #2bc2d3;
    border-radius: 100%;
  }
  .PlusImageStyle {
    width: 12px;
  }
}
