@import "./../../../../../css/main.scss";

header {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #2bc2d3;
  border-bottom-left-radius: 100px;
  .arrowLeft {
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .Avatar {
    position: absolute;
    left: 40px;
    width: 98px;
    height: 98px;
    bottom: 40px;
    border-radius: 30px;
    border: 3px solid white;
  }
  .ButtonsHandler {
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    align-items: center;
    height: 36px;
    .BuyButton {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      @include fontfamily("Montserrat", 17px, white, normal);
      border-radius: 10px;
      height: 100%;
    }
    .StarButton {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #64f1b8;
      @include fontfamily("Montserrat", 22px, white, bold);
      border-radius: 10px;
      height: 100%;
    }
  }
  .text {
    position: absolute;
    left: 155px;
    bottom: 60px;
    text-align: left;
    div:nth-child(1) {
      @include fontfamily("Montserrat", 20px, white, normal);
    }
    div:nth-child(2) {
      @include fontfamily("Montserrat", 20px, white, bold);
    }
  }
}

.container {
  padding: 0 2rem;
  .card {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 1.5rem 0.5rem 1.5rem 1.5rem;
    text-align: left;
    box-shadow: 2px 2px 0px 2px rgba($color: #000000, $alpha: 0.1);
    img {
      width: 27.4px;
      height: 27.05px;
    }
    .heading {
      @include fontfamily("Montserrat", 17px, #bcc5d3, bold);
    }
    .cardtext {
      @include fontfamily("Arial", 17px, #bcc5d3, normal);
    }
    .CardButton {
      margin: 0.5rem 0;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include fontfamily("Arial", 17px, white, normal);
      width: 100%;
      height: 46px;
      border: none;
      background-color: #64f1b8;
    }
  }

  .StarsRow {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.2rem 0;
    .ActiveStarButton {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #2bc2d3;
      @include fontfamily("Montserrat", 23px, #2bc2d3, normal);
      border-radius: 20px;
      width: 167px;
      height: 53px;
    }
    .StarButton {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      @include fontfamily("Montserrat", 23px, #bcc5d3, normal);
      border-radius: 20px;
      width: 167px;
      height: 53px;
    }
  }
  .InputHandler {
    margin: 0 auto;
    width: 200px;
    border: none;
    ::placeholder {
      @include fontfamily("Montserrat", 23px, #bcc5d3, normal);
    }
  }
  .userSendData {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    .userAvatar {
      width: 101px;
      height: 82px;
    }
    .ButtonHandler {
      border-radius: 20px;
      overflow: hidden;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      Input {
        // width: 120px;
        height: 44px;
        @include fontfamily("Montserrat", 18px, #bcc5d3, normal);
        background-color: #b2ffe0;
        border: none;
      }
      Button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #64f1b8;
        height: 44px;
        @include fontfamily("Montserrat", 16px, black, bold);
        img {
          width: 28.96px;
          height: 21.78px;
        }
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  header {
    height: 164px;
    .Avatar {
      left: 40px;
      width: 48px;
      height: 48px;
      bottom: 50px;
      border-radius: 100%;
    }
    .ButtonsHandler {
      height: 21px;
      .BuyButton {
        @include fontfamily("Montserrat", 13px, white, normal);
        img {
          width: 14px;
          height: 14px;
        }
      }
      .StarButton {
        @include fontfamily("Montserrat", 13px, white, bold);
        img {
          width: 14px;
          height: 14px;
        }
      }
    }
    .text {
      position: absolute;
      left: 100px;
      bottom: 50px;
      text-align: left;
      div:nth-child(1) {
        @include fontfamily("Montserrat", 14px, white, normal);
      }
      div:nth-child(2) {
        @include fontfamily("Montserrat", 14px, white, bold);
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  header {
    height: 164px;
    .Avatar {
      left: 40px;
      width: 48px;
      height: 48px;
      bottom: 50px;
      border-radius: 100%;
    }
    .ButtonsHandler {
      height: 21px;
      .BuyButton {
        @include fontfamily("Montserrat", 13px, white, normal);
        img {
          width: 14px;
          height: 14px;
        }
      }
      .StarButton {
        @include fontfamily("Montserrat", 13px, white, bold);
        img {
          width: 14px;
          height: 14px;
        }
      }
    }
    .text {
      position: absolute;
      left: 100px;
      bottom: 40px;
    }
  }


  .container {
    padding: 1rem 1rem;
    .card {
      margin-bottom: 70px;
      padding: 1.5rem 0.5rem 1.5rem 1.5rem;
      text-align: left;
      box-shadow: 2px 2px 0px 2px rgba($color: #000000, $alpha: 0.1);
      .heading {
        @include fontfamily("Montserrat", 17px, #bcc5d3, bold);
      }
      .cardtext {
        @include fontfamily("Arial", 17px, #bcc5d3, normal);
      }
      .CardButton {
        margin: 0.5rem 0;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include fontfamily("Arial", 17px, white, normal);
        width: 100%;
        height: 46px;
        border: none;
        background-color: #64f1b8;
      }
    }
    .StarsRow {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 0.2rem 0;
      .ActiveStarButton {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #2bc2d3;
        @include fontfamily("Montserrat", 23px, #2bc2d3, normal);
        border-radius: 20px;
        width: 99px;
        height: 39px;
        img {
          width: 22px;
          height: 21px;
        }
      }
      .StarButton {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        @include fontfamily("Montserrat", 23px, #bcc5d3, normal);
        border-radius: 20px;
        width: 99px;
        height: 39px;
        img {
          width: 22px;
          height: 21px;
        }
      }
    }
    .InputHandler {
      img {
        width: 22px;
        height: 21px;
      }
      margin: 0 auto;
      width: 200px;
      border: none;
      ::placeholder {
        @include fontfamily("Montserrat", 23px, #bcc5d3, normal);
      }
    }
    .userSendData {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3rem 1rem;
      .userAvatar {
        width: 60px;
        height: 60px;
      }
      .ButtonHandler {
        border-radius: 20px;
        overflow: hidden;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        Input {
          width: 120px;
          @include fontfamily("Montserrat", 10px, #bcc5d3, normal);
          background-color: #b2ffe0;
          border: none;
        }
        Button {
          background-color: #64f1b8;
          @include fontfamily("Montserrat", 10px, black, bold);
          img {
            width: 14px;
            height: 13px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  header {
    overflow: hidden;
    height: 164px;
    .Avatar {
      left: 40px;
      width: 48px;
      height: 48px;
      bottom: 50px;
      border-radius: 100%;
    }
    .ButtonsHandler {
      height: 21px;
      .BuyButton {
        @include fontfamily("Montserrat", 10px, white, normal);
        img {
          width: 14px;
          height: 14px;
        }
      }
      .StarButton {
        @include fontfamily("Montserrat", 10px, white, bold);
        img {
          width: 14px;
          height: 14px;
        }
      }
    }
    .text {
      position: absolute;
      left: 100px;
      bottom: 55px;
      div:nth-child(1) {
        @include fontfamily("Montserrat", 12px, white, normal);
      }
      div:nth-child(2) {
        @include fontfamily("Montserrat", 12px, white, bold);
      }
    }
  }

  .container {
    padding: 1rem 0.5rem;
    .card {
      margin-bottom: 70px;
      padding: 1.5rem 0.5rem 0.2rem 0.5rem;
      text-align: left;
      box-shadow: 2px 2px 0px 2px rgba($color: #000000, $alpha: 0.1);
      .heading {
        @include fontfamily("Montserrat", 15px, #bcc5d3, bold);
      }
      .cardtext {
        @include fontfamily("Arial", 15px, #bcc5d3, normal);
      }
      .CardButton {
        margin: 1rem 0;
        padding: 0 0.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include fontfamily("Arial", 12px, white, normal);
        width: 100%;
        height: 46px;
        border: none;
        background-color: #64f1b8;
      }
    }
    .StarsRow {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 0.2rem 0;
      .ActiveStarButton {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #2bc2d3;
        @include fontfamily("Montserrat", 20px, #2bc2d3, normal);
        border-radius: 20px;
        width: 85px;
        height: 39px;
        img {
          width: 22px;
          height: 21px;
        }
      }
      .StarButton {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        @include fontfamily("Montserrat", 20px, #bcc5d3, normal);
        border-radius: 20px;
        width: 85px;
        height: 39px;
        img {
          width: 22px;
          height: 21px;
        }
      }
    }
    .InputHandler {
      img {
        width: 22px;
        height: 21px;
      }
      margin: 0 auto;
      width: 200px;
      border: none;
      ::placeholder {
        @include fontfamily("Montserrat", 23px, #bcc5d3, normal);
      }
    }
    .userSendData {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3rem 1rem;
      .userAvatar {
        width: 50px;
        height: 50px;
      }
      .ButtonHandler {
        border-radius: 20px;
        overflow: hidden;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        Input {
          width: 200px;
          @include fontfamily("Montserrat", 10px, #bcc5d3, normal);
          background-color: #b2ffe0;
          border: none;
        }
        Button {
          background-color: #64f1b8;
          @include fontfamily("Montserrat", 10px, black, bold);
          img {
            width: 14px;
            height: 13px;
          }
        }
      }
    }
  }
}
