.mobileDesign {
  display: none;
}
.mobileHeading {
  display: none;
}
.container {
  background-color: white;
  background-image: url("../background.png");
  background-position: top right 100px;
  background-repeat: no-repeat;
  background-size: 760px 480px;
  padding: 2rem 6rem 2rem 6rem;
  display: flex;
}

.formCss {
  padding: 2rem;
  min-width: 327px;
  height: 530px;
  background-color: white;
  border-bottom-left-radius: 30%;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.formcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  margin-left: 160px;
  margin-top: 60px;
  font-size: 60px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #2bc2d3;
}

.Buttons {
  background-color: #51f0b0;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 20px;
}

.ButtonsTwitter {
  background-color: #51f0b0;
  border: none;
  width: 83%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.IconStyle {
  color: gray !important;
  opacity: 0.8;
}
.AccountInfo,
.RememberMe {
  font-family: "Montserrat";
  font-size: 12px;
  color: #7b859a;
}
@media only screen and (max-width: 1080px) {
  .container {
    /* height: 110vh; */
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 6rem 2rem 6rem;
  }
  .heading {
    font-size: 40px;
    margin: 0;
  }
  .formCss {
    margin: 100px 0;
    padding: 1.5rem;
    box-sizing: border-box;
    margin: 30px auto;
    /* min-width: 100%; */
    height: max-content;
  }
}

@media only screen and (max-width: 880px) {
  .heading {
    font-size: 40px;
    margin: 0;
  }
}

@media only screen and (max-width: 680px) {
  .heading {
    font-size: 40px;
    margin: 0;
  }
  .Buttons {
    background-color: #51f0b0;
    border: none;
    width: 100%;
    height: 32px;
    border-radius: 20px;
  }
  .ButtonsTwitter {
    height: 52px;
  }
}

@media only screen and (max-width: 580px) {
  .desktopDesign {
    display: none;
  }
  .mobileDesign {
    display: block;
    background-color: #f1f0f2;
  }
  .heading {
    display: none;
  }
  .mobileHeading {
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .mobileHeading span {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
  }
  .formcontainer {
    margin-top: -160px;
    padding: 0 1rem;
  }
  .signinselected {
    border-bottom: 2px solid white;
  }
  .MobileFooter {
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #1a1a1a;
    padding: 1rem 0;
  }
  .formCss {
    padding: 2rem;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 100%;
    height: max-content;
  }
  .Buttons {
    background-color: #51f0b0;
    border: none;
    width: 100%;
    height: 52px;
    border-radius: 30px;
  }
  .ButtonsTwitter {
    border-radius: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .formcontainer {
    margin-top: -140px;
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 350px) {
  .mobileHeading {
    padding: 2rem 3rem;
    width: 100%;
  }
  .formCss {
    border-bottom-left-radius: 90px;
  }
  .Buttons {
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: bold;
    height: 52px;
    border-radius: 40px;
  }
  .ButtonsTwitter {
    height: 52px;
    font-family: "Montserrat";
    font-size: 12px;
    border-radius: 40px;
    font-weight: bold;
  }
}
