@import "../../css/main.scss";
.dualcontainer {
  .ChatHandler {
    position: relative;
    height: 120px;
    border-bottom: 2px solid $border-bottom-color;
    border-bottom-left-radius: 60px;
    text-align: left;
    .bghandler {
      position: absolute;
      width: 100%;
      height: 50%;
      top: -50px;
    }
    .Avatar {
      position: absolute;
      left: 50px;
      bottom: 20px;
      height: 68px;
      width: 68px;
      border: 2px solid white;
    }
    .UserName {
      content: "";
      position: absolute;
      left: 150px;
      top: 30px;
      @include fontfamily("Montserrat", 20px, #241332, 600);
    }
    .Msg {
      content: "";
      position: absolute;
      left: 150px;
      top: 60px;
      @include fontfamily("Montserrat", 20px, #241332, 600);
    }
    .Time {
      content: "";
      position: absolute;
      right: 50px;
      top: 30px;
      @include fontfamily("Montserrat", 15px, #241332, 600);
    }
    .Count {
      content: "";
      position: absolute;
      right: 50px;
      top: 70px;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      @include fontfamily("Montserrat", 15px, white, 600);
      background-color: #2bc2d3;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.container {
  width: 611px;
  margin: 0 auto;
  .ChatHandler {
    position: relative;
    height: 120px;
    border-bottom: 2px solid $border-bottom-color;
    border-bottom-left-radius: 60px;
    text-align: left;
    .bghandler {
      position: absolute;
      width: 100%;
      height: 50%;
      top: -50px;
    }
    .Avatar {
      position: absolute;
      left: 50px;
      bottom: 20px;
      height: 68px;
      width: 68px;
      border: 2px solid white;
    }
    .UserName {
      content: "";
      position: absolute;
      left: 150px;
      top: 30px;
      @include fontfamily("Montserrat", 20px, #241332, 600);
    }
    .Msg {
      content: "";
      position: absolute;
      left: 150px;
      top: 60px;
      @include fontfamily("Montserrat", 20px, #241332, 600);
    }
    .Time {
      content: "";
      position: absolute;
      right: 50px;
      top: 30px;
      @include fontfamily("Montserrat", 15px, #241332, 600);
    }
    .Count {
      content: "";
      position: absolute;
      right: 50px;
      top: 70px;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      @include fontfamily("Montserrat", 15px, white, 600);
      background-color: #2bc2d3;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 920px) {
  .dualcontainer {
    width: 100%;
    .ChatHandler {
      margin: 0;
      height: 90px;
      .bghandler {
        position: absolute;
        width: 100%;
        height: 50%;
        top: -35px;
      }
      .Avatar {
        position: absolute;
        left: 50px;
        bottom: 20px;
        height: 40px;
        width: 40px;
        border: 2px solid white;
      }
      .UserName {
        content: "";
        position: absolute;
        left: 125px;
        top: 30px;
        @include fontfamily("Montserrat", 12px, #241332, 600);
      }
      .Msg {
        content: "";
        position: absolute;
        left: 125px;
        top: 50px;
        @include fontfamily("Montserrat", 14px, #241332, 600);
      }
      .Time {
        content: "";
        position: absolute;
        right: 50px;
        top: 30px;
        @include fontfamily("Montserrat", 12px, #241332, 500);
      }
      .Count {
        content: "";
        position: absolute;
        right: 50px;
        top: 50px;
        width: 22px;
        height: 22px;
        border-radius: 100%;
        @include fontfamily("Montserrat", 14px, white, 600);
        background-color: #2bc2d3;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  .container {
    width: 100%;
    .ChatHandler {
      margin: 0;
      height: 90px;
      .bghandler {
        position: absolute;
        width: 100%;
        height: 50%;
        top: -35px;
      }
      .Avatar {
        position: absolute;
        left: 50px;
        bottom: 20px;
        height: 40px;
        width: 40px;
        border: 2px solid white;
      }
      .UserName {
        content: "";
        position: absolute;
        left: 125px;
        top: 30px;
        @include fontfamily("Montserrat", 12px, #241332, 600);
      }
      .Msg {
        content: "";
        position: absolute;
        left: 125px;
        top: 50px;
        @include fontfamily("Montserrat", 14px, #241332, 600);
      }
      .Time {
        content: "";
        position: absolute;
        right: 50px;
        top: 30px;
        @include fontfamily("Montserrat", 12px, #241332, 500);
      }
      .Count {
        content: "";
        position: absolute;
        right: 50px;
        top: 50px;
        width: 22px;
        height: 22px;
        border-radius: 100%;
        @include fontfamily("Montserrat", 14px, white, 600);
        background-color: #2bc2d3;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .container {
    width: 100%;
    .ChatHandler {
      width: 100%;
      margin: 0;
      height: 90px;
      .bghandler {
        position: absolute;
        width: 100%;
        height: 50%;
        top: -40px;
      }
      .Avatar {
        position: absolute;
        left: 40px;
        bottom: 20px;
        height: 40px;
        width: 40px;
        border: 2px solid white;
      }
      .UserName {
        content: "";
        position: absolute;
        left: 100px;
        top: 30px;
        @include fontfamily("Montserrat", 12px, #241332, 600);
      }
      .Msg {
        content: "";
        position: absolute;
        left: 100px;
        top: 50px;
        @include fontfamily("Montserrat", 14px, #241332, 600);
      }
      .Time {
        content: "";
        position: absolute;
        right: 25px;
        top: 30px;
        @include fontfamily("Montserrat", 12px, #241332, 500);
      }
      .Count {
        content: "";
        position: absolute;
        right: 30px;
        top: 50px;
        width: 22px;
        height: 22px;
        border-radius: 100%;
        @include fontfamily("Montserrat", 14px, white, 600);
        background-color: #2bc2d3;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  .container {
    width: 100%;
    margin: 0;
    .ChatHandler {
      width: 100%;
      height: 90px;
      .bghandler {
        position: absolute;
        width: 100%;
        height: 50%;
        top: -40px;
      }
      .Avatar {
        position: absolute;
        left: 20px;
        bottom: 20px;
        height: 40px;
        width: 40px;
        border: 2px solid white;
      }
      .UserName {
        content: "";
        position: absolute;
        left: 70px;
        top: 30px;
        @include fontfamily("Montserrat", 12px, #241332, 600);
      }
      .Msg {
        content: "";
        position: absolute;
        left: 70px;
        top: 50px;
        @include fontfamily("Montserrat", 13px, #241332, 600);
      }
      .Time {
        content: "";
        position: absolute;
        right: 20px;
        top: 30px;
        @include fontfamily("Montserrat", 12px, #241332, 500);
      }
      .Count {
        content: "";
        position: absolute;
        right: 25px;
        top: 50px;
        width: 22px;
        height: 22px;
        border-radius: 100%;
        @include fontfamily("Montserrat", 14px, white, 600);
        background-color: #2bc2d3;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
