@import "../../../../../css/main.scss";

.EditProfileContainer {
  padding: 5rem 1.5rem;
  .EditProfileRow {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $border-bottom-color;

    .EditProfileCol {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .EditProfileColHead {
        width: 200px;
        text-align: left;
        @include fontfamily("Arial", 16px, #bcc5d3, normal);
      }
      .EditProfileColData {
        border: none;
        width: 200px;
        display: flex;
        justify-content: space-between;
        text-align: left;
        @include fontfamily("Arial", 18px, #4c5264, normal);
        .DefaultValue {
          width: 200px;
          overflow: hidden;
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  .EditProfileContainer {
    padding: 5rem 1.5rem;
    .EditProfileRow {
      margin-top: 40px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid $border-bottom-color;

      .EditProfileCol {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .EditProfileColHead {
          //   width: 100px;
          text-align: left;
          @include fontfamily("Arial", 14px, #bcc5d3, normal);
        }
        .EditProfileColData {
          //   width: 100px;
          text-align: left;
          @include fontfamily("Arial", 16px, #4c5264, normal);
        }
      }
    }
  }
}

@media only screen and (max-width: 880px) {
  .EditProfileContainer {
    padding: 5rem 0rem;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 780px) {
  .EditProfileContainer {
    padding: 5rem 4rem;
    box-sizing: border-box;
    .EditProfileRow {
      margin-top: 40px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid $border-bottom-color;
    }
  }
}

@media only screen and (max-width: 580px) {
  .EditProfileContainer {
    padding: 0rem;
    box-sizing: border-box;
    .EditProfileRow {
      padding: 0 2rem;
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid $border-bottom-color;
      div:nth-child(1) {
        display: none;
      }
      div:nth-child(2) {
        width: 100%;
      }
      .EditProfileCol {
        .EditProfileColHead {
          width: 100%;
          @include fontfamily("Arial", 12px, #bcc5d3, normal);
        }
        .EditProfileColData {
          width: 100%;
          @include fontfamily("Arial", 16px, #4c5264, normal);
        }
      }
    }
  }
}


@media only screen and (max-width: 320px) {
  .EditProfileContainer {
    padding: 0;
    box-sizing: border-box;
    .EditProfileRow {
      padding: 0 2rem;
      margin-top: 10px;
      div:nth-child(1) {
        display: none;
      }
      div:nth-child(2) {
        width: 100%;
      }
      .EditProfileCol {
        .EditProfileColHead {
          width: 100%;
          @include fontfamily("Arial", 10px, #bcc5d3, normal);
        }
        .EditProfileColData {
          width: 100%;
          @include fontfamily("Arial", 14px, #4c5264, normal);
        }
      }
    }
  }
}