.mobileHeader {
  background-color: #2bc2d3;
  height: 170px;
  border-bottom-left-radius: 60px;
  z-index: 1000;
}

.text {
  display: flex;
  justify-content: space-around;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
}
.header {
  z-index: 1000;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Headerheading ,.Headerheading2{
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
}

@media only screen and (max-width: 480px) {
  .mobileHeader {
    background-color: #2bc2d3;
    height: 150px;
    border-bottom-left-radius: 60px;
    .header{
      .lefticon{
        width: 18px;
        height: 14px;
      }
    }
  }
  .text {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    font-family: "Arial", sans-serif; 
    color: white;
  } 

  .header {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .Headerheading {
    padding: 0.5rem 0;
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
  }
  .Headerheading2{
    padding: 0rem 0;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
  }

}

@media only screen and (max-width: 320px) {
  .mobileHeader {
    background-color: #2bc2d3;
    height: 150px;
    border-bottom-left-radius: 60px;
  }

  .header {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .Headerheading {
    padding: 0.5rem 0 0 0;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
  }
}
