@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
.mobileDesign {
  display: none;
}
.mobileHeading {
  display: none;
}
.bluebackground {
  background-color: #2bc2d3;
  height: 200px;
  border-bottom-left-radius: 60px;
}

.container {
  background-image: url("../background.png");
  background-position: top right 100px;
  background-repeat: no-repeat;
  background-size: 760px 480px;
  padding: 0.5rem 6rem 0 6rem;
  display: flex;
}

.formCss {
  padding: 2rem;
  min-width: 327px;
  height: 300px;
  background-color: white;
  border-bottom-left-radius: 30%;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
}

.formcontainer {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  position: absolute;
  left: 45%;
  top: 30%;
  font-size: 60px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #2bc2d3;
}

.Buttons {
  background-color: #51f0b0;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 20px;
}

.ButtonsTwitter {
  background-color: #51f0b0;
  border: none;
  width: 83%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.IconStyle {
  color: gray !important;
  opacity: 0.8;
}
.AccountInfo {
  font-family: "Montserrat";
  font-size: 13px;
  color: #7b859a;
}
.RememberMe {
  font-family: "Montserrat";
  font-size: 12px;
  color: #7b859a;
}

.forgetpass {
  font-family: "Montserrat";
  font-size: 12px;
  color: #7b859a;
}

.ResetPassword{
  font-family: "Montserrat";
  font-size: 24px;
  text-align: center;
  padding: 0.5rem 0;
}
@media only screen and (max-width: 980px) {
  .container {
    /* height: 90vh; */
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 6rem 0 6rem;
  }
  .heading {
    font-size: 40px;
    top: 20%;
  }
  .formCss {
    padding: 1.5rem;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: max-content;
    height: max-content;
  }
  .Buttons {
    height: 32px;
    border-radius: 20px;
  }
  .ButtonsTwitter {
    height: 32px;
  }
  .ButtonsTwitter img {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (max-width: 680px) {
  .heading {
    font-size: 40px;
    margin: 0;
  }
  .ButtonsTwitter {
    height: 52px;
  }
}

@media only screen and (max-width: 580px) {
  .desktopDesign {
    display: none;
  }
  .mobileDesign {
    display: block;
    background-color: #f1f0f2;
    padding-bottom: 100px;
  }
  .heading {
    display: none;
  }
  .mobileHeading {
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .mobileHeading span {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
  }
  .formcontainer {
    margin-top: -120px;
    padding: 0 2rem;
  }
  .loginselected {
    border-bottom: 2px solid white;
  }
  .MobileFooter {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #1a1a1a;
    padding: 1rem 0.5rem;
  }
  .formCss {
    padding: 1.5rem;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 95%;
    height: 330px;
  }
  .Buttons {
    /* margin-top: 50px; */
    background-color: #51f0b0;
    border: none;
    width: 100%;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: bold;
    height: 52px;
    border-radius: 40px;
  }
  .ButtonsTwitter {
    height: 52px;
    font-family: "Montserrat";
    font-size: 14px;
    border-radius: 40px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 480px) {
  .formcontainer {
    margin-top: -150px;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 350px) {
  .mobileHeading {
    padding: 2rem 3rem;
    width: 100%;
  }
  .Buttons {
    /* margin-top: 50px; */
    background-color: #51f0b0;
    border: none;
    width: 100%;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: bold;
    height: 52px;
    border-radius: 40px;
  }
  .ButtonsTwitter {
    height: 52px;
    font-family: "Montserrat";
    font-size: 12px;
    border-radius: 40px;
    font-weight: bold;
  }
  .RememberMe {
    font-family: "Montserrat";
    font-size: 10px;
    color: #7b859a;
  }
  
  .forgetpass {
    font-family: "Montserrat";
    font-size: 10px;
    color: #7b859a;
  }
}
