@import '~antd/dist/antd.css';

.App {
  text-align: center;
  /* background-image: url("./background.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh; */
}
